body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clima {
    width: 60%;
    height: auto;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    border-radius: 15px;
    border: solid 1px lightblue;
    box-shadow: 5px 5px gray;
}

.icon {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 35px;
}